<div class="container">          
  <div class="row home">
    <div class="span4">
      <div class="img_box">
        <a href= <%= url_for samples_path %>>
          <img <%= image_tag 'FormButton.jpg' %>
        </a>
      </div>
      <div class="text">
        <h6>My samples list</h6>
      </div>
    </div>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
  </div>
</div>

<% if diver_signed_in? && current_diver.role == 'admin' %>
  <%= render 'static_pages/admin' %>
<% end %>
