
<div class="container">
  <div class="row">
    <div class="span10">
      <div id="floatingMap">
        <h3 class="head1">Site Map</h3>
        <%= gmaps({
          "markers" => {"data" => @sampleSites},
          "polygons" => { "data" => @floridaKeysSpas }
            })
          %>
      </div>
    </div>
    <div class="span2 sideBar">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>



