  <div class="formContainer">
    <h2>Listing Reference Sites</h2>
      <table id="animalsList" class="display table table-condensed">
        <thead>
        <tr>
          <th> Name </th>
          <th> Description </th>
        </tr>
      </thead>
      <tbody>
      <% @bottom_types.each do |type| %>
        <tr data-link=" <%= edit_bottom_type_path(type) %> ">
          <td><%= type.name %> </td>
          <td><%= type.description %> </td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>


<%= link_to 'New Bottom Type', new_bottom_type_path %>
