/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require_tree .
 */

.formContainer {
    width: 100%;
    height: 500px;
    padding: 20px;
    background: #f0f0f0;
    overflow: auto;
 
    /*[> Border style <]*/
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /*[> Border Shadow <]*/
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    /*[> Font Styles <]*/
    font-size: 10px;
 
}

.sampleSection {
    width: 100%;
    height: 50%px;
    padding: 20px;
    background: #f0f0f0;
    overflow: auto;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    /* Font Styles */
    font-size: 10px;

}

#animals {
    width: 100%;
    height: 250px;
    padding: 20px;
    background: #f0f0f0;
    overflow: auto;
 
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
 
    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

    /* Font Styles */
    font-size: 10px;
 
}

#animals input {
  width: 50px !important;
}


.select2-container {
  width: 200px;
}

#map label {
  width: auto;
  display: inline;
}

#map img {
  max-width: none;
}

.form-horizontal .control-label {
  text-align: left !important;
  width: 100px !important;
}

.form-horizontal .controls {
  margin-left: 100px !important;
}

.form-horizontal select {
  width: 100px !important;
}

.form-horizontal input {
  width: 125px !important;
}

#bottomTypeHeader {
  text-align: center;
  line-height: 5px;
  font-size: 12px;
}

.distanceBetweenRunningReference {
  font-weight: bold;
  font-size: 15px;
}
